<tr>
    <td>1</td>
    <td>UserName</td>
    <td>TOP</td>
    <td>0.000000</td>
    <td>0.000000</td>
    <td>ksour essef Mahdia 4080</td>
    <td>Public</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>